<mat-toolbar>
    <img height="50" width="50" src="assets/loveanimals.png" alt="Pet Home Logo">
    <div class="navbar-brand"> Pet Home</div>
    </mat-toolbar>
<div class = "adoption-request">
    <h4>Request For Adoption</h4>

    <main class="single">
        <table class = "table table-sm">
            <tr>
                <td>Customer: </td>
                <td>
                    <select [(ngModel)]="adoptionRequest.customer" class = "rounded">
                        <option *ngFor="let c of customers"[ngValue] = "c">
                            {{c.email}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Reference Personal</td>
                <td>
                    <select [(ngModel)]="adoptionRequest.referencePersonal" class="rounded">
                        <option *ngFor="let r of referenceP" [ngValue]="r">
                            {{r.firstname+" "+r.lastname}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Reference background</td>
                <td>
                    <select [(ngModel)]="adoptionRequest.referenceBackground" class="rounded">
                        <option *ngFor="let r of referenceB" [ngValue]="r">
                            {{r.firstname+" "+r.lastname}}
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <span><button (click)="submit()" class="btn btn-primary">Submit</button></span>
    </main>
</div>
